* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(./img/bg.jpg);
    font-family: sans-serif;
}

.frontbar {
    padding: 10px 35px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 2px solid grey;
}
.game-name {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    text-shadow: 5px 5px 2px black;
}
.rock {
    color: brown;
}
.paper {
    color: grey;
}
.scissors {
    color: steelblue;
}
.game-rules {
    margin-left: auto;
    border: 5px dashed black;
    padding: 20px 30px;
}
.game-rules h2 {
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-shadow: 2px 2px 2px black; */
}
.welcome {
    padding: 8vh 15vw;
}
.welcome-text {
    color: darkgreen;
    text-align: center;
    font-size: 3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.welcome-text > span {
    color: red;
}
.game-round {
    text-align: center;
}
.game-round h1 {
    display: inline-block;
    background: steelblue;
    padding: 20px 30px;
    font-size: 2.3em;
    color: white;
    text-shadow: 2px 2px 2px black;
}
.game-round h1 span {
    color: yellow;
}
.game-options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10vw;
    margin: 30px;
}
.buttons {
    color: white;
    padding: 30px;
    border-radius: 30px;
    width: 180px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.5em;
}
#rock {
    background: brown;
}
#rock:hover {
    background: white;
    color: brown;
}
#rock:active {
    background: black;
    color: white
}
#paper {
    background: grey;
}
#paper:hover {
    background: white;
    color: grey;
}
#paper:active {
    background: black;
    color: white
}
#scissors {
    background: steelblue;
    font-size: 2em;
}
#scissors:hover {
    background: white;
    color: steelblue;
}
#scissors:active {
    background: black;
    color: white
}
.result {
    margin: 50px;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
}
.result span {
    display: block;
    padding: 15px;
}
.win {
    background: green;
}
.lose {
    background: red;
}
.draw {
    background: yellow;
}
.scoreboard {
    display: flex;
    border: 5px solid black;
    padding: 15px;
    font-size: 2.5em;
    background: rgb(107, 71, 71);
    color: white;
    gap: 50px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.scoreboard span {
    padding: 10px;
}
.player1 .player {
    border-right: 5px outset black;
    border-radius: 10px;
}
.player2 .player {
    border-left: 5px outset black;
    border-radius: 10px;
}
.footer {
    background: black;
    color: gray;
    text-align: center;
    padding: 30px;
}