* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: url(./img/bg.jpg);
}

.frontbar {
    padding: 10px 35px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 2px solid grey;
}
.game-name {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    text-shadow: 5px 5px 2px black;
}
.rock {
    color: brown;
}
.paper {
    color: grey;
}
.scissors {
    color: steelblue;
}
.game-rules {
    margin-left: auto;
    border: 5px dashed black;
    padding: 20px 30px;
}
.game-rules h2 {
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* text-shadow: 2px 2px 2px black; */
}
.welcome {
    padding: 8vh 15vw;
}
.welcome-text {
    color: darkgreen;
    text-align: center;
    font-size: 3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.welcome-text > span {
    color: red;
}
.game-round {
    text-align: center;
}
.game-round h1 {
    display: inline-block;
    background: steelblue;
    padding: 20px 30px;
    font-size: 2.3em;
    color: white;
    text-shadow: 2px 2px 2px black;
}
.game-round h1 span {
    color: yellow;
}
